<div class="text-center wrapper" id="startchange">
  <section id="pic" style="display: table">
    <div class="textinpic center-block" style="display: table-cell; padding: 5%;">
      <div style="float: left; width: 50%;">
        <h2> The Birth of a New Culture </h2>
        <br />
        <p>
          Modni is a branch of the Fraser Valley Korean Art Society that focuses on bringing awareness to the issue of   bicultural identity, namely Korean Canadian identity, using various forms of art. At present, Modni consists of   a performance team specializing in playing Korean drums that has performed at numerous locations throughout the Greater Vancouver Area, as well as a budding media team and administrative team.
        </p>
      </div>
    </div>
  </section>
</div>
<section id="about" style="background-color: rgba(0,0,0,0.8); color: white;">
  <div class="center-block col-md-10" style="padding-top: 5%; padding-bottom: 5%;">
    <h1 class="text-center" style="font-size: 50px; margin-top: 0; margin-bottom: 2%;">Our Mission</h1>
    <hr class="hr fW" style="margin-top: 15px; margin-bottom: 20px;">
    <div class="post2">
      <h4 style="display: inline-block; text-align: center; font-weight: 200; line-height: 1.3">
        Our mission is to bring light to the lives of those who have walked through life in a bicultural, or even multicultural household. We feel that there is much to be learned from these unique perspectives and accordingly, we seek out unique ways to address this topic. We have found, however, that these perspectives lack any tangible form and organization. Within the Korean community of Greater Vancouver, there seems to be a disconnect between the first generation of immigrants and the second, leading to a vague sense of cultural identity--this is where Modni steps in. We would like to give form to the myriad of variables that comprise a bicultural identity, starting with Korean-Canadians. From there, we’d like to delve in deeper to see what significance this has on our lives, and ultimately reconnect the two generations.
      </h4>
    </div>
    <div class="text-center">
      <h2 class="post1" style="margin-top: 6%; margin-bottom: 6%;">Want to learn more about us?<br />Press the button below.
      </h2>
      <a class="btn btn-lg btn-danger button" style="margin-bottom: 20px;" href="<%= about_path  %>">About Us !</a>
    </div>
  </div>
</section>
<!-- </div>
<section id="about">
  <div class="col-md-10 center-block">
    <h1 class="text-center">About Modni</h1>
    <hr class="hr fPin">
    <h2 class="text-center" style="margin-bottom: 70px">Korean-Canadian Drum Team</h2>
    <div class="col-md-4 post1">
      <h3 class="text-center" style="margin-bottom: 30px; font-size: 30px; font-weight: 600;">Who are we?</h3>
      <p style="display: inline-block; font-size: 15px; font-weight: 600; text-align: center">Modni is a pioneer project for the Fraser Valley Korean Arts Society, allowing our members to fully realize their cultural identities. Using Korean traditional drums, called buk (북), as a foundation, our members will be able to organically and intuitively discover the rich aspects of Korean tradition music and art. In doing so, members will incorporate these traditional elements into their own personal style. Korean traditional drumming represents an integral part of Korean artistic heritage, and through Modni, we hope to present this legacy in a new light.</p>
    </div>
    <div class="col-md-4 post2">
      <h3 class="text-center" style="margin-bottom: 30px; font-size: 30px; font-weight: 600;">What is Modni?</h3>
      <p style="display: inline-block font-size: 15px; font-weight: 600; text-align: center">‘Modni.’ The word is derived from the Korean language, meaning ‘one who has everything’ or ‘everyone.’ We chose this name as the group focuses on celebrating the broad perspective that can be obtained from being exposed to multiple cultures, and on striving to illustrate the notion of cultural harmony.</p>
    </div>
    <div class="col-md-4 post3">
      <h3 class="text-center" style="margin-bottom: 30px; font-size: 30px; font-weight: 600;">Our Mission</h3>
      <p style="display: inline-block font-size: 15px; font-weight: 600; text-align: center">
        Using Korean traditional drumming as a foundation, our members will be able to organically and intuitively discover the rich aspects of Korean traditional drumming, and incorporate these traditional elements into their own musical style. We want to promote a natural blending of cultures, to really let Korean-Canadians be Korean-Canadians.

        Not a Korean who “thinks like a Canadian,” not a Canada-born Korean who is “so Asian,” but simply, Korean-Canadian. This is a chance for them to define their own cultural identities and therefore, we hope, their full identities.
      </p>
    </div>
    <br>
    <br>
    <div class="text-center">
      <h2 style="opacity: 0">""</h2>
      <h2 class="post1" style="display: inline-block; margin-top: 60px">Want to learn about us? Head over to our About  Page.
      </h2>
      <br>
      <br>
      <a class="btn btn-lg btn-danger button" style="margin-bottom: 60px;" href="<%= about_path  %>">About Us!</a>
      <br>
      <br>
    </div>
  </div>
</section> -->
<section id="core-concepts" style="background-color: rgba(158,11,15,1);">
  <div class="center-block col-md-10" style="text-align: center; padding-top: 5%;">
    <h1 class="fWhite" style="font-size: 50px; margin-top: 0; margin-bottom: 2%;">Core Concepts</h2>
    <hr class="hr fW" style="margin-top: 15px; margin-bottom: 20px;">
    <h4 class="fWhite" style="margin-bottom: 10%;">
      At its core, Modni is essentially a thought experiment. We do not know exacty what we are looking for when we say “Korean-Canadian” culture, yet through these means, we hope to find any semblance of an answer.
    </h3>
    <div class="col-md-4 text-center post2" style="vetrical-align: top">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 25px; font-weight: 600">Arts</h3>
      <p style="display: inline-block; font-size: 15px; margin-top: 5%; margin-bottom: 8%;" class="fWhite">We have chosen art as our form of reflection and meditation on our experiences because of its expressive quality. At the forefront we have Korean traditional drumming fused with Western rhythms and instruments and soon will be working with videography as well. A multitude of art forms will be introduced as the year progresses.</p>
    </div><div class="col-md-4 text-center post2" style="vetrical-align: top">
      <i class="fa fa-gear fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 25px; font-weight: 600">Cultural Identity</h3>
      <p style="display: inline-block; font-size: 15px; margin-top: 5%; margin-bottom: 8%" class="fWhite">If one were to define identity simply as a culmination of experience, then to understand one’s identity, we would need to reflect on our past experiences. In the case of cultural identity then, we would need to understand the experiences of those who also share our culture. Modni strives to be this connection.</p>
    </div><div class="col-md-4 text-center post2" style="vetrical-align: top">
      <i class="fa fa-refresh fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 25px; font-weight: 600">Community</h3>
      <p style="display: inline-block; font-size: 15px; margin-top: 5%; margin-bottom: 8%;" class="fWhite">Half of Modni is to reach out to the public domain via art; the other half is entirely internal. Involving all talents is our method of building a community that will allow us to share our past experiences whilst creating new ones. To bridge our 2nd generation, Korean-Canadian, community with the 1st generation community, we must first understand our own culture and see where our differences lie.</p>
    </div>
    <div class="text-center" style="padding-bottom: 20px;">
      <a class="btn btn-lg btn-default button" href="http://fvkas.com/contact-us/" style="margin-top: 5%;">Sign Up Now !</a>
      <br>
      <br>
    </div>
  </div>
</section>
<!-- <section style="text-align: center" id="Join">
  <div class="padPin" style="background-color: rgba(239,56,53,0.9); width: 100%">
    <h2 class="text-center fWhite" style="font-size: 50px; font-weight: 900">Why Join Us?</h2>
    <hr class="hr fW" style="margin-top: 15px; margin-bottom: 80px">
    <div class="col-md-4 float-none text-center post1">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Performances</h3>
      <p style="display: inline-block; font-size: 20px" class="fWhite">Experience the thrill of performing in front of various audiences on a multitude of stages, from street performances to auditoriums.</p>
    </div><div class="col-md-4 float-none text-center post2">
      <i class="fa fa-gear fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Community</h3>
      <p style="display: inline-block; font-size: 20px; font-weight: 500" class="fWhite">Meet friends who come from similar cultural backgrounds, and learn from those from different backgrounds or walks of life.</p>
    </div><div class="col-md-4 float-none text-center post3">
      <i class="fa fa-refresh fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Cultural Identity</h3>
      <p style="display: inline-block; font-size: 20px; font-weight: 500" class="fWhite">Discover and explore your cultural identity, while helping others understand their own cultural identity. Lets Have Fun!</p>
    </div>
    <div class="text-center">
      <br>
      <br>
      <a class="btn btn-lg btn-default button" href="<%= about_path  %>">Sign Up Now!</a>
      <br>
      <br>
    </div>
  </div>
</section> -->

<% if @events.present? %>
<section id="events">
  <div class="col-md-10 center-block">
    <h2 style="clear: left; padding-top: 5%; margin-bottom: 10%; text-align:center; font-size: 50px; font-weight: 900">Recent<br />Events</h2>
      <% @events.order("created_at desc").first(2).each do |event| %>
        <div class="col-md-6 grow post1" style="padding: 10px; height: 400px; margin-right: 0px;">
          <div class="col-md-3 cover-left date text-center" style="display: inline-block">
            <% if event.event_date %>
              <p><%= event.event_date.strftime("%B %dth")%></p>
            <% end %>
          </div>
          <div class="col-md-9 cover-right">
            <div style="display: block; font-weight: 900">
              <%= link_to event.title, event_path(event) %>
            </div>
            <hr style="margin-bottom: 0; margin-top: 30px;">
            <br>
          </div>
          <div class="text-center">
            <% if event.image.present? %>
              <% image = image_tag(event.image.url(:large), :class=> "event_cover") %>
              <%= link_to image, event_path(event) %>
            <% else %>
              <div class="no-image">
                <span>Image Cannot be Found</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</section>
<% end %>

<% if @vlogs.present? %>
<section id="vlog"style="clear: left; margin-bottom: 5%;">
  <div class="col-md-10 center-block">
    <h2 style="clear: left; padding-top: 5%; margin-bottom: 10%; font-size: 50px; font-weight: 900; text-align: center">Recent<br />Vlogs</h2>
    <% @vlogs.order("created_at desc").first(2).each do |vlog| %>
      <div class="col-md-6 grow post2" style="height: 350px; margin-right: 0px; margin-bottom: 10%;">
        <div class="col-md-3 cover-left date text-center" style="display: inline-block">
          <% if vlog.vlog_date %>
            <p><%= vlog.vlog_date.strftime("%B %dth")%></p>
          <% end %>
        </div>
        <div class="col-md-9 cover-right">
          <div style="display: block; font-weight: 900">
            <%= link_to vlog.title, vlog_path(vlog) %>
          </div>
          <hr style="margin-bottom: 0; margin-top: 30px;">
          <br>
        </div>
        <div class="text-center embed-container center-block" style="float: right; margin-right: 5%; width: 100%">
          <% if vlog.link.present? %>
            <%= embed(vlog.link) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<% end %>
</div>
