<div class="text-center wrapper" id="startchange">
  <img src="assets/about us.png" alt="Home" width="100%" style="float: none" class="img">
</div>
<section id="about">
  <div class="col-md-10 center-block">
    <h1 class="text-center">About Modni</h1>
    <hr class="hr fPin">
    <h2 class="text-center" style="margin-bottom: 70px">Korean-Canadian Drum Team</h2>
    <div class="col-md-4">
      <h3 class="text-center">Who are we?</h3>
      <p style="display: inline-block">Modni is a pioneer project for the Fraser Valley Korean Arts Society, allowing our members to fully realize their cultural identities. Using Korean traditional drums, called buk (북), as a foundation, our members will be able to organically and intuitively discover the rich aspects of Korean tradition music and art. In doing so, members will incorporate these traditional elements into their own personal style. Korean traditional drumming represents an integral part of Korean artistic heritage, and through Modni, we hope to present this legacy in a new light.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">What is Modni?</h3>
      <p style="display: inline-block">‘Modni.’ The word is derived from the Korean language, meaning ‘one who has everything’ or ‘everyone.’ We chose this name as the group focuses on celebrating the broad perspective that can be obtained from being exposed to multiple cultures, and on striving to illustrate the notion of cultural harmony.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Our Mission</h3>
      <p style="display: inline-block">
        Using Korean traditional drumming as a foundation, our members will be able to organically and intuitively discover the rich aspects of Korean traditional drumming, and incorporate these traditional elements into their own musical style. We want to promote a natural blending of cultures, to really let Korean-Canadians be Korean-Canadians.

        Not a Korean who “thinks like a Canadian,” not a Canada-born Korean who is “so Asian,” but simply, Korean-Canadian. This is a chance for them to define their own cultural identities and therefore, we hope, their full identities.
      </p>
    </div>
    <div class="text-center">
      <h2 style="display: inline-block; margin-top: 60px">Want to learn about us? Head over to our About  Page.
        <br>
        <br>
        <a class="btn btn-lg btn-danger" href="<%= about_path  %>">About Us!</a>
        <br>
        <br>
      </h2>
    </div>
  </div>
</section>
<section style="text-align: center" id="Join">
  <div class="padPin" style="background-color: rgba(239,56,53,0.9); width: 100%">
    <h2 class="text-center fWhite" style="font-size: 50px; font-weight: 900">Why Join Us?</h2>
    <hr class="hr fW" style="margin-top: 15px; margin-bottom: 80px">
    <div class="col-md-3 float-none text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Performances</h3>
      <p style="display: inline-block; font-size: 20px" class="fWhite">Experience the thrill of performing in front of various audiences on a multitude of stages, from street performances to auditoriums.</p>
    </div><div class="col-md-3 float-none text-center">
      <i class="fa fa-spinner fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Community</h3>
      <p style="display: inline-block; font-size: 20px; font-weight: 500" class="fWhite">Meet friends who come from similar cultural backgrounds, and learn from those from different backgrounds or walks of life.</p>
    </div><div class="col-md-3 float-none text-center">
      <i class="fa fa-refresh fa-spin fa-3x fWhite"></i>
      <h3 class="fWhite" style="font-size: 35px; font-weight: 600">Cultural Identity</h3>
      <p style="display: inline-block; font-size: 20px; font-weight: 500" class="fWhite">Discover and explore your cultural identity, while helping others understand their own cultural identity. Lets Have Fun!</p>
    </div>
    <div class="text-center">
      <br>
      <br>
      <a class="btn btn-lg btn-default" href="<%= about_path  %>">Sign Up Now!</a>
      <br>
      <br>
    </div>
  </div>
</section>
<section id="events" style="padding: 50px">
  <div class="col-md-10 center-block">
    <h2 class="text-center" style="clear: left; padding: 80px; font-size: 50px; font-weight: 900">Our Recent Events</h2>
    <div class="col-md-10 center-block" style="margin: 0">

      <% @events.each do |event| %>
        <div class="col-md-4 grow" style="padding: 10px; height: 400px; margin-right: 0px; margin-bottom: 10px;">
          <div class="col-md-3 cover-left date text-center" style="display: inline-block">
            <% if event.event_date %>
              <p><%= event.event_date.strftime("%A %B %dth")%></p>
            <% end %>
          </div>
          <div class="col-md-9 cover-right">
            <div style="display: block; font-weight: 900">
              <%= link_to event.title, event_path(event) %>
            </div>
            <hr style="margin-bottom: 0; margin-top: 30px;">
            <br>
          </div>
          <div class="col-md-12 text-center">
            <% if event.image.present? %>
              <% image = image_tag(event.image.url(:large), :class=> "event_cover") %>
              <%= link_to image, event_path(event) %>
            <% else %>
              <div class="no-image">
                <span>Image Cannot be Found</span>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</section>
<section id="vlog" style="clear: left; padding: 50px">
  <div class="col-md-10 center-block">
    <h2 class="text-center" style="clear: left; padding: 80px; font-size: 50px; font-weight: 900">Recent Vlog Posts</h2>

    <% @vlogs.each do |vlog| %>
      <div class="col-md-4 grow" style="padding: 10px; height: 400px; margin-right: 0px; margin-bottom: 10px;">
        <div class="col-md-3 cover-left date text-center" style="display: inline-block">
          <% if vlog.vlog_date %>
            <p><%= vlog.vlog_date.strftime("%A %B %dth")%></p>
          <% end %>
        </div>
        <div class="col-md-9 cover-right">
          <div style="display: block; font-weight: 900">
            <%= link_to vlog.title, vlog_path(vlog) %>
          </div>
          <hr style="margin-bottom: 0; margin-top: 30px;">
          <br>
        </div>
        <div class="col-md-12 text-center embed-container" style="float: right; margin-right: 5%">
          <% if vlog.link.present? %>
            <%= embed(vlog.link) %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
  </div>
</section>
