<!DOCTYPE html>
<html>
  <head>
    <title>MODNI</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    </head>
    <body>
      <div class="my-fluid-container" id="thisdiv">
        <%= render "/layouts/nav" %>
        <%= yield %>
        <br>
        <br>
        <br>
        <%= render "/layouts/flash_messages" %>
        <a class="posLogo" href="/#page-top">
          <img alt="Brand" src="/assets/circle_logo.png" class="logoBot">
        </a>
      </div>
    </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/assets/jquery.nicescroll.min.js"></script>
    <script>
    $(document).ready(
      function() {
        $("html").niceScroll();
        // $("html").getNiceScroll().hide();
      }
    );
    </script>
    <script>
    $(document).ready(function(){
      var scroll_start = 0;
      var startchange = $('#startchange');
      var offset = startchange.offset();
      $(document).scroll(function() {
        scroll_start = $(this).scrollTop();
        if(scroll_start > offset.top) {
          $('#mainNav').addClass("affix");
        } else {
          $('#mainNav').removeClass("affix");
        }
      });
    });
    </script>
</html>
